.body{
    background-color: #00203FFF ;
    color: #00203FFF;

}


.divinging{
    position: absolute;
    top: 10rem;
    left: 16rem;
    width: 500px;
    margin: auto;
    margin-left: auto;
    border: solid #ADEFD1FF;
    text-align: center;
    background-color: #ADEFD1FF;
    border: solid;
    
}

.btn3{
    width: 100%;
    height: 30px;
    background-color: #00203FFF;
    color: #ADEFD1FF;
}
.btn3:hover{
    
    color: #00203FFF;
    background-color: #ADEFD1FF;
    cursor: pointer;
    font-weight: bolder;
    border: none;
}